#container {
	/*border: solid red 7px;*/
}

#banner {
	/*border: solid pink 7px;*/
	width: 100%;
	height: 600px;
	background-image: url('../img/banner03.jpg');
	background-position: center;
	background-size: cover;
	position: relative;	
}

#box-container {
	/*border: solid purple 7px;*/
	position: absolute;
	width: 400px;
	height: 200px;
	text-align: center;
	right: 100px;
	bottom: 285px;

}

#box-backgound {
	/*border: solid yellow 7px;*/
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	position: relative;
}

#box-banner-title {
	/*border: solid blue 7px;*/
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #FFF;
	top: 0;
	padding-top: 65px;
}

#box-banner-title h1 {
	font-size: 32px;
	margin-bottom: 25px;
}

#box-banner-title p {
	font-size: 20px;
}

#company-info-container {
	/*border: solid orange 7px;*/
	width: 100%;
	height: 175px;
	position: absolute;
	bottom: 0;
}

#comapny-info-background {
	/*border: solid green 7px;*/
	background-color: #DDD;
	opacity: 0.8;
	width: 100%;
	height: 100%;
}

#company-info-title-box {
	/*border: solid black 7px;*/
	padding-left: 10%;
	position: absolute;
	top: 40px;
	width: 500px;
}
	
#company-info-title-box h2 {
	color: #222;
	margin-bottom: 30px;
	font-size: 24px;

}

#company-info-title-box p {
	color: #222;
}


/* Primeira classe da seção, final do Header */
.services-container {
	/*border: solid pink 7px;*/
	max-width: 1200px;
	padding: 30px 10%;
	padding-bottom: 0;
}

.services-box {
	/*border: solid red 7px;*/
	width: 100%;
	position: relative;
	clear: both;
	height: 150px;
	margin-bottom: 30px;
}

.services-box:last {
	margin-bottom: 0px;

}

.services-title {
	/*border: solid blue 7px;*/
	width: 20%;
	height: 150px;
	background-color: #DDD;
	float: left;
	text-align: center;
	line-height: 150px;
	padding: 20px;
	box-sizing: border-box;

}

.services-title p {
	padding-top: 35px;
	color: #FFF;
	font-size: 18px;
	line-height: 24px;
}

.services-description {
	/*border: solid black 7px;*/
	width: 80%;
	float: left;
	padding: 30px;
	box-sizing: border-box;
}

.services-description h3 {
	font-size: 20px;
	margin-bottom:15px;
	font-weight: bold;
}

.services-description p {
	font-size: 14px;
	margin-bottom:15px;
	line-height: 22px;
}

/*id titulos*/
#gerenciamento-title {
	color: #2364AA;
}

#dev-title {
	color: #3DA5D9;
}

#design-title {
	color: #73BFB8;
}

 /*id boxs*/
#gerenciamento-box {
	background-color: #2364AA;
}

#dev-box {
	background-color: #3DA5D9;
}

#design-box {
	background-color: #73BFB8;
}

/*Sobre a empresa*/
.footer-container {
	background-image: url('../img/rodape.jpg');
	background-position: center; 
}

.about-container {
	max-width: 1200px;
	padding: 30px 10%;
	position: relative;
	clear: both;
}

.about-card {
	float: left;
	width: 30%;
	padding-top: 30px;
	background-color: #FFF;
	text-align: center;
	box-sizing: border-box;

}

.about-cardm {
	margin-left: 5%;
	margin-right: 5%;
}

/*.about-cardm2 {
	margin-left: 5%;
	margin-right: 5%
}*/

header {
	/*border: solid green 7px;*/
}

section {
	/*border: solid purple 7px;*/

}

html {
	font-family: Helvetica, sans-serif;
}
