#container {
	border: solid red 7px;
}

#banner {
	border: solid pink 7px;
	width: 100%;
	height: 600px;
	background-image: url('../img/banner03.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
}

#box-container {
	border: solid purple 7px;
	position: absolute;
	width: 400px;
	height: 200px;
	text-align: center;
	right: 100px;
	bottom: 180px;

}

#box-backgound {
	border: solid yellow 7px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	position: relative;
}

#box-banner-title {
	border: solid blue 7px;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #FFF;
	top: 0;
	padding-top: 65px;
}

#box-banner-title h1 {
	font-size: 32px;
	margin-bottom: 25px;
}

#box-banner-title p {
	font-size: 20px;
}

#company-info-container {
	border: solid orange 7px;
}

#comapny-info-background {
	border: solid green 7px;
}

#company-info-title-box {
	border: solid black 7px;
}

header {
	border: solid green 7px;
}

html {
	font-family: Helvetica, sans-serif;
}
